// 可选: 定义自己的变量
$--daff-normal: 1.5em !default;
$--bg-success: #4B64F8 !default;
$--bg-dark: #333333 !default;
$--bg-dark-second: #3D3C3C !default;
$--title-mub: #333335 !default;
$--color-adorn: #e00e5f !default;